.HeroTextGroup > div span:nth-child(1) button {
    background-image: linear-gradient(to right, #5151E5, #72EDF2);
    background-size: 200%;
    background-position: 100% 0;
}

.HeroTextGroup > div span:nth-child(2) button {
    background-image: linear-gradient(to right, #5151E5, #72EDF2);
    background-size: 200%;
    background-position: 0 100%;
}


/* 流动动画 */
.Hero svg {
    position: absolute; /* 随页面滚动的绝对定位 */
    bottom: 0;
    left: 0;
    width: 100%;
}