/* ============== Order ================= */
.OrderGroup {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

.OrderCard {
    width: 100%;
    height: 150px;
    margin: auto 0;
    border-radius: 30px;
    box-shadow: -3px -3px 7px #eee,
                3px 3px 5px rgba(94, 104, 121, 0.288);
    align-self: center;   
    z-index: 99;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.OrderCard:hover {
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.OrderCard img {
    width: auto;
    height: 80%;
    align-self: flex-end;
    margin: auto;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.OrderCard:hover img {
    transform: scale(1.15);
}

.OrderCard .Text {
    align-self: center;
    margin: auto;
    display: grid;
    color: black;
    text-align: center;
    grid-template-rows: 0.618fr 1fr;
    grid-gap: 10px;
    transition: grid-template-rows 2s cubic-bezier(0.2, 0.8, 0.2, 1) !important;
}

.OrderCard h1 {
    align-self: center;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    opacity: 1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.OrderCard .Text .PriceGroup {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}

.OrderCard .Text .PriceGroup span {
    margin: 20px auto;
    font-size: 25px;
}

.OrderCard .Text .PriceGroup label {
    font-size: 20px;
    font-weight: bolder;
}
.OrderCard .Text .PriceGroup span:nth-child(3) label{
    background: linear-gradient(104deg, #5151E5 0%, #72EDF2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width:750px) {
    .OrderCard {
        width: 100%;
        height: 150px;
        align-self: center;
        grid-template-columns: 0.6fr 1fr;
    }

    .OrderCard img {
        width: 70%;
        height: auto;
        align-self: flex-end;
    }

    .OrderCard .Text {
        grid-template-rows: repeat(2, 1fr);
    }

    .OrderCard h1 {
        margin: auto;
        font-size: 30px;
    }
    .OrderCard p {
        margin: 0 10px;
    }
}


.settle {
    width: 100%;
}
.settle button {
    display: block;
    margin: 50px 50px auto auto;
}


/* ============== History ================= */
.HistoryGroup {
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    overflow: hidden;
}

.HistoryGroup .HistoryList {
    list-style: none;
    width: 100%;
    height: 100%;
    transition: .8s cubic-bezier(0.2,0.8,0.2,1);
}

.HistoryList li.HistoryCard {
    /* width: 20%; */
    height: 100%;
    float: left;
    position: relative;
    transition: .8s cubic-bezier(0.2,0.8,0.2,1);
}

.HistoryList li.HistoryCard img {
    height: 100%;
}

/* .HistoryGroup:hover li.HistoryCard {
    width: 10%;
}

.HistoryGroup li.HistoryCard:hover {
    width: 60%;
} */

.HistoryGroup .Content {
    position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    opacity: 0;
    transition: .8s cubic-bezier(0.2,0.8,0.2,1);
}
.HistoryGroup li.HistoryCard:hover .Content {
    opacity: 1;
    overflow: auto;
}

.HistoryGroup .Content ul {
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.HistoryGroup .Content li{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    margin: 10px auto;
}

.HistoryGroup .Content li img {
    margin: 5px auto;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.HistoryGroup .Content .Text h2 {
    font-size: 15px;
    font-weight: bolder;
    background: linear-gradient(104deg, #5151E5 0%, #72EDF2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.HistoryGroup .Content .Text p {
    font-size: 10px;
    color: rgba(0,0,0,1);
    font-weight: bold;
}

.HistoryGroup .Content .Text label {
    color: rgba(0,0,0,0.6);
    font-weight: lighter;
}


/* 流动动画 */
.Hero svg {
    position: absolute; /* 随页面滚动的绝对定位 */
    bottom: 0;
    left: 0;
    width: 100%;
}