<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TJ-Mall</title>

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/hero.css">
    <link rel="stylesheet" href="css/navigator.css">
    <link rel="stylesheet" href="css/socialmedia.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1838331_x3slqm5zsir.css" />

    <script src="js/global.js"></script>
    <script src="js/index.js"></script>
</head>
<body>

    <!-- Navigator -->
    <div id="navigator" class='Navigation'>
        <div class="NavigationGroup">
          <a to="#"><img src="../img/avatar.jpg" /></a>
          <ul>
            <li><a href="#life-trace" title="人生是个不断贴标签的过程">人生轨迹</a></li>
            <li><a href="#life-award" title="让他着迷的是结果之外的一切">但行耕耘</a></li>
            <li><a href="#better-study" title="">好好学习</a></li>
            <li><a href="#better-live" title="生活其实很简单生出来活下去">好好生活</a></li>
          </ul>
          <button><a href="#for-the-time" title="时间比我能告诉你的更多">给时间</a></button>
        </div>
      </div>



    <!-- Hero -->
    <div id="hero" class="Hero">
        <div class="HeroGroup">
            <div class="HeroTextGroup">
                <h1>TJ Mall</h1>
                <h3>同济商城</h3>
                <blockquote>“同济大学历史悠久、声誉卓著，是中国最早的国立大学之一，是教育部直属并与上海市共建的全国重点大学。经过110年的发展，同济大学已经成为一所特色鲜明、在海内外有较大影响力的综合性、研究型、国际化大学，综合实力位居国内高校前列。”</blockquote>
            </div>
            <svg width="100%" height=172 fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff">
                <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        
                M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        
                M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        
                M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
                " />
                </path>
            </svg>
        </div>
    </div>


    <a class="NavigatorAnchor" id="life-trace">life-trace</a>


    <!-- social media -->
    <div class="SocialMediaGroup">
        <div class="SocialMediaIcon">
            <a href="https://github.com/doubleZ0108" title="GitHub" target="_blank">
                <i class='iconfont icon-GitHub' style="color: #000"></i>
            </a>
        </div>

        <div class="SocialMediaIcon">
            <a href="mailto:dbzdbz@tongji.edu.cn" title="个人邮箱" target="_blank">
                <i class='iconfont icon-youxiang' style="color: rgb(73, 168, 243)"></i>
            </a>
        </div>

        <div class="SocialMediaIcon">
            <a href="/" title="网站视频" target="_blank">
                <i class='iconfont icon--VideoCamera' style="color: rgb(175,110,195)"></i>
            </a>
        </div>
        <div class="SocialMediaIcon">
            <a href="/" title="项目文档" target="_blank">
                <i class='iconfont icon-wendang-' style="color: rgb(245,188,97)"></i>
            </a>
        </div>
    </div>

    <!-- footer -->
    <div class="FooterGroup">
        <p class="Text">Copyright &copy; doubleZ Tongji University<br/>All Right Reserved</p>
    </div>
</body>
</html>