<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJ-Mall Order</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/order.css">
    <link rel="stylesheet" href="../css/navigator.css">
    <link rel="stylesheet" href="../css/hero.css">
    <link rel="stylesheet" href="../css/sectioncaption.css">
    <link rel="stylesheet" href="../css/wavesection.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/shoppingchat.css">
    <link rel="stylesheet" href="../css/history.css">
    <link rel="stylesheet" href="../css/socialmedia.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1838331_x3slqm5zsir.css" />


    <script src="../js/global.js"></script>
    <script src="../js/order.js"></script>
    <script src="../js/navigator.js"></script>
    <script src="../js/hero.js"></script>
    <script src="../js/wavesection.js"></script>
    <script src="../js/waterripple.js"></script>
    <script src="../js/socialmedia.js"></script>
    <script src="../js/settle.js"></script>
    <script src="../js/shoppingchat.js"></script>
    <script src="../js/history.js"></script>
</head>
<body>
    
    <!-- Navigator -->
    <div id="navigator" class='Navigation'>
        <div class="NavigationGroup">
          <a href="login" title="注册/登陆"><img id="avatar" /></a>
          <ul id="NavigationList">
            <!-- <li><a href="life-trace" title="人生是个不断贴标签的过程">人生轨迹</a></li> -->
          </ul>
          <button><a href="order" title="我的订单中心">订单中心</a></button>
        </div>
    </div>


    <!-- Hero -->
    <div id="hero" class="Hero">
        <div class="HeroGroup">
            <div class="HeroTextGroup">
                <h1>TJ Mall</h1>
                <h3>订单中心</h3>
                <div>
                    <span><button class="WaterRipple" onclick="window.location.href = '#order-anchor';">购物车</button></span>
                    <span><button class="WaterRipple" onclick="window.location.href = '#history-anchor';">历史订单</button></span>
                </div>
            </div>
        </div>
        <svg width="100%" height=172 fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fff">
            <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
    
            M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
    
            M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
    
            M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
            " />
            </path>
        </svg>
    </div>

    <!-- ShoppingCart  -->
    <a class="NavigatorAnchor" id="order-anchor">order-anchor</a>
    <div class="ShoppingCarts">
        <div class="SectionCaptionGroup">
            <h2><label>购物车</label>🛒</h2>
            <h3>Shopping cart</h3>
        </div>
        <div id="ShoppingCart" class="ShoppingCartGroup">
            <!-- <div class='ShoppingCartCard'>
                <img src="../img/Books/9.png" />
                <div class='Text'>
                    <h1>同济大学纪念礼品校徽樱花季徽章礼盒胸针配饰logo金属贴纸高考研</h1>
                    <div class="PriceGroup">
                        <span>单价: <label>$40.00</label></span>
                        <span>数量: <label>2</label></span>
                        <span>总计: <label>$80.00</label></span>
                    </div>
                </div> -->
            <div id="empty-shoppingcart" class="empty-shoppingcart">
                <div class="container">
                    <div class="loader">
                        <div class="liquid">
                            <span style="--i:1;"></span>
                            <span style="--i:2;"></span>
                            <span style="--i:3;"></span>
                            <span style="--i:4;"></span>
                            <span style="--i:5;"></span>
                            <span style="--i:6;"></span>
                            <span style="--i:7;"></span>
                        </div>
                        <div id="liquid-bar" class="bar"></div>
                    </div>
                    <div id="liquid-text" class="text">您的购物车为空</div>
                </div>

                <svg class="liquid-svg">
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10"/>
                        <feColorMatrix values="
                            1 0 0 0 0
                            0 1 0 0 0
                            0 0 1 0 0
                            0 0 0 20 -10
                            "/>
                    </filter>
                </svg>
            </div>
        </div>
        <div id="settle" class="settle">
            <span>总计: <label>¥1000.00</label></span>
            <button id="SettleBtn" class="WaterRipple">结算</button>
        </div>
    </div>

    <!-- Wave Section -->
    <div class="WaveSectionGroup" style="background-image: url('../img/tongji/bg/12.png');">
        <div class="WaveTop">
            <svg width="100%" height=120 fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff">
                <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        
                M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        
                M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        
                M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
                " />
                </path>
            </svg>
        </div>
        <div class="WaveBottom">
            <svg width="100%" height=120 fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff">
                <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="10s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        
                M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        
                M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        
                M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z
                " />
                </path>
            </svg>
        </div>
        <img class="WaveSectionLogo" src="../img/tongji/sign/12.png" />
        <div class="WaveSectionTitleGroup">
            <p class="Decoration left">/*</p>
            <p class="WaveSectionText">{this.props.text}</p>
            <p class="Decoration right">*/</p>
        </div>
    </div>

    <!-- History  -->
    <a class="NavigatorAnchor" id="history-anchor">history-anchor</a>
    <div class="History">
        <div class="SectionCaptionGroup">
            <h2><label>历史订单</label>⏳</h2>
            <h3>Historical order</h3>
        </div>
        <div id="HistoryGroup" class="HistoryGroup">
            <ul id="HistoryList" class="HistoryList">
                <!-- <li class="HistoryCard">
                    <img src="../img/tongji/bg/03.png" alt="">
                    <div class="Content">
                        <ul>
                            <li>
                                <img src="../img/Books/9.png" alt="">
                                <div class="Text">
                                    <h2>同济大学纪念礼品校徽樱花季徽章礼盒胸针配饰logo金属贴纸高考研</h2>
                                    <p>购买数量: <label>2</label></p>
                                    <p>购买时间: <label>2020-02-02</label></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="gap"></div>

    <!-- social media -->
    <a class="NavigatorAnchor" id="social-media-anchor">social-media-anchor</a>
    <div id="SocialMediaGroup" class="SocialMediaGroup">
        <!-- <div class="SocialMediaIcon">
            <a href="https://github.com/doubleZ0108" title="GitHub" target="_blank">
                <i class='iconfont icon-GitHub' style="color: #000"></i>
            </a>
        </div> -->
    </div>

    <!-- footer -->
    <div class="FooterGroup">
        <p class="Text">Copyright &copy; doubleZ Tongji University. All Right Reserved.<br/>(仅做课程项目使用, 图转侵删)</p>
    </div>

</body>
</html>