<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.doublez.tongjimall.dao.OrderDao">

    <insert id = "insert_order" parameterType="site.doublez.tongjimall.entity.Order">
        INSERT INTO
            HISTORYORDER(ID,USERNAME,ORDERTIME,TITLE,IMGSRC,AMOUNT)
        VALUES
            (#{id},#{username},#{ordertime},#{title},#{imgsrc},#{amount});
    </insert>

</mapper>