<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.doublez.tongjimall.dao.ProductDao">

    <insert id = "insert_product" parameterType="site.doublez.tongjimall.entity.Product">
        INSERT INTO
            PRODUCT(ID,USERNAME,PRODUCTTYPE,PRODUCTINDEX,TITLE,IMGSRC,PRICE,AMOUNT)
        VALUES
            (#{id},#{username},#{producttype},#{productindex},#{title},#{imgsrc},#{price},#{amount});
    </insert>

    <select id="select_shoppingcart_by_username" parameterType="String" resultType="site.doublez.tongjimall.entity.Product">
        SELECT * FROM PRODUCT WHERE username=#{username}
    </select>

</mapper>