<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.doublez.tongjimall.dao.UserDao">

    <!-- insert user -->
    <insert id = "insert" parameterType="site.doublez.tongjimall.entity.User">
        INSERT INTO
            USER(ID,USERNAME,PASSWORD,AGE)
        VALUES
            (#{id},#{username},#{password},#{age});
    </insert>

    <!-- update user -->
    <update id="update" parameterType="site.doublez.tongjimall.entity.User">
        UPDATE USER SET USERNAME=#{username} , PASSWORD=#{password} , AGE = #{age} WHERE ID=#{id}
    </update>

    <!-- find user -->
    <select id="find" parameterType="int" resultType="site.doublez.tongjimall.entity.User">
        SELECT ID,USERNAME,PASSWORD,AGE FROM USER WHERE ID=#{0}
    </select>

    <!-- delete user -->
    <delete id="delete" parameterType="int">
        DELETE FROM USER WHERE ID=#{0}
    </delete>
</mapper>